<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<a href="/ejs/home">Home</a> |
<a href="/ejs/contact">Contact</a> |
<a href="/ejs/about">About</a> |
<a href="/ejs/hello">Hello</a> |
<a href="/ejs/profile/Alice">Profile</a>