<html ng-app="<%= applicationName %>">
    <head>
        <link href="/css/bootstrap.css" rel="stylesheet"/>
        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/sandbox/wax/<%= applicationName %>/app.js"></script>
        <script src="/sandbox/wax/<%= applicationName %>/config.js"></script>
    </head>
    <body>
        <div class="container-fluid" ng-view></div>
    </body>
</html>